$police : 'Ubuntu', sans-serif;


body {
    background-color: darken(#252B37, 4%);
    background-repeat: no-repeat;
    font-family: $police;
}

#banner{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

#social {
    float: right;
    margin-top: -60px;
    margin-right: 30px;
}

nav{
    position: fixed;
    left: 50%;
    width: 150px;
    margin-top: 10px;
    margin-left: -640px;
    hr {
        margin-left: -20px;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 1.2em;
    }
}

#content {
    margin: auto;
    background-color: #ffffff;
    width: 1100px;
    min-height: 600px;
    // -webkit-column-count: 2; /* Chrome, Safari, Opera */
    // -moz-column-count: 2; /* Firefox */
    // column-count: 2;
    overflow: auto;
        div {
            width: 44%;
            float: left;
            box-sizing:border-box;
            border:1px solid #000;
            border-radius: 10px;
            margin:4% 0 0 4%;
            padding: 15px;
                h1{
                    font-size: 20px;
                }
                button{
                    text-align: center;
                }

            // border-style:  solid ;
            // border-radius: 10px;
            // margin-top: 60px;
            // height: 200px;
            // width: 450px;
            // margin-left: 40px;
        }

}


footer{
    text-align: center;
    color: #ffffff;
}
